Stock Data Analysis 

To print basic descriptive statistics

In [5]:
import pandas as pd
import yfinance as yf

## to load stock data using yfinance and save as excel named data
ticker = 'HDFCBANK.NS'

today = pd.Timestamp.today()

start = today - pd.DateOffset(years=1)

data = yf.download(tickers=ticker,start = start, end = today)

## Data saved as excel to load as data frame
data.to_excel('stock_data.xlsx',index = False )
# load excel as data frame 
df = pd.read_excel('stock_data.xlsx')
df

[*********************100%***********************]  1 of 1 completed

            Open         High          Low        Close    Adj Close    Volume
0    1495.000000  1535.000000  1489.250000  1529.550049  1508.944702  27324715
1    1535.050049  1551.550049  1532.599976  1535.750000  1515.061157  24256337
2    1544.000000  1545.000000  1529.849976  1534.050049  1513.384155   8879678
3    1528.000000  1530.000000  1512.000000  1516.250000  1495.823853   8227486
4    1520.550049  1529.000000  1515.199951  1524.849976  1504.307983  16633146
..           ...          ...          ...          ...          ...       ...
241  1777.000000  1778.199951  1750.000000  1752.650024  1752.650024  17806751
242  1748.800049  1751.449951  1724.400024  1732.050049  1732.050049  13191767
243  1724.000000  1742.000000  1720.099976  1726.199951  1726.199951  12286142
244  1715.650024  1726.150024  1673.349976  1682.000000  1682.000000  24236699
245  1674.500000  1690.650024  1653.000000  1657.650024  1657.650024  24339184

[246 rows x 6 columns]

Function to print descriptive statistics of the stock data

In [261]:

def descriptive_stock_analysis(df):

    # Select only numeric columns      ###this data cleaning is not required for provided data it is just for practice
    numerical_col = df.select_dtypes(include = [int,float]).columns

    # Calculate mean for numeric columns
    df_mean = df[numerical_col].mean()

    # Fill missing values with the calculated mean
    dff = df.fillna(df_mean)

    ##calculation of descriptive statistics of the given stock data 

    mean          = dff.mean()
    median        = dff.median()
    mode          = dff.mode()
    SD            = dff.std()
    variance      = dff.var()
    range         = dff.max() -df.min()
    skewness      = dff.skew()
    kurtosis      = dff.kurtosis()

    ## for is used to iterate over all columns and provide descriptive s\taistics

    for column, mean_value in mean.items():
     print(f"The mean of column {column} is: {mean_value:.2f}")

    for column, median_value in median.items():
     print(f"The median of column {column} is: {median_value:.2f}")
    
    for column in mode.columns:
        mode_value = mode[column].iloc[0]     # mode has multiple values this assign the first value
        print(f"The mode of column {column} is: {mode_value}")

    for column, SD_value in SD.items():
     print(f"The standard deviation of column {column} is: {SD_value:.2f}")

    for column, variance_value in variance.items():
     print(f"The varince of column {column} is: {variance_value:.2f}")
    
    for column, range_value in range.items():
     print(f"The range of column {column} is: {range_value:.2f}")

    for column, skewness_value in skewness.items():
     print(f"The skewness of column {column} is: {skewness_value:.2f}")

    for column, kurtosis_value in kurtosis.items():
     print(f"The kurtosis of column {column} is: {kurtosis_value:.2f}")

# load excel as data frame 
df = pd.read_excel('stock_data.xlsx')
# descriptive analysis function
descriptive_stock_analysis(df)

The mean of column Open is: 1560.77
The mean of column High is: 1573.48
The mean of column Low is: 1548.92
The mean of column Close is: 1561.38
The mean of column Adj Close is: 1549.23
The mean of column Volume is: 20946422.73
The median of column Open is: 1546.95
The median of column High is: 1555.30
The median of column Low is: 1530.88
The median of column Close is: 1540.40
The median of column Adj Close is: 1527.69
The median of column Volume is: 17023042.00
The mode of column Open is: 1652.0
The mode of column High is: 1464.0
The mode of column Low is: 1384.349975585938
The mode of column Close is: 1494.699951171875
The mode of column Adj Close is: 1474.564086914062
The mode of column Volume is: 6523110
The standard deviation of column Open is: 97.77
The standard deviation of column High is: 96.96
The standard deviation of column Low is: 96.59
The standard deviation of column Close is: 97.00
The standard deviation of column Adj Close is: 102.08
The standard deviation of column Volume is: 17367801.92
The varince of column Open is: 9559.73
The varince of column High is: 9401.61
The varince of column Low is: 9328.84
The varince of column Close is: 9409.56
The varince of column Adj Close is: 10420.02
The varince of column Volume is: 301640543641851.25
The range of column Open is: 415.00
The range of column High is: 402.50
The range of column Low is: 404.50
The range of column Close is: 399.40
The range of column Adj Close is: 418.05
The range of column Volume is: 216147940.00
The skewness of column Open is: 0.13
The skewness of column High is: 0.17
The skewness of column Low is: 0.15
The skewness of column Close is: 0.16
The skewness of column Adj Close is: 0.16
The skewness of column Volume is: 7.18
The kurtosis of column Open is: -1.02
The kurtosis of column High is: -1.04
The kurtosis of column Low is: -1.06
The kurtosis of column Close is: -1.07
The kurtosis of column Adj Close is: -1.10
The kurtosis of column Volume is: 75.45

Function to add descriptive statistics of the data in the same data frame itself

In [262]:

# function to return descriptive analysis of a stock in data frame format
def stock_anasysis_table(df):
    df = pd.read_excel('stock_data.xlsx')

    ## 
    pd.set_option('display.float_format', lambda x: '%.2f' % x)


##calculation of descriptive statistics of the given stock data 
    mean          = df.mean()
    median        = df.median()
    mode          = df.mode()
    
        
    mode_value = mode.iloc[0]
    
    SD            = df.std()
    variance      = df.var()
    range         = df.max() -df.min()
    skewness      = df.skew()
    kurtosis      = df.kurtosis()

    # new rows(mean,median,mode,SD,variance,range,skewness,kurtosis) are added in exsisting data frame 
    df.loc['mean']      = round(mean, 2)         
    df.loc['median']    = round(median, 2)
    df.loc['mode']      = round(mode_value, 2)
    df.loc['SD']        = round(SD, 2)
    df.loc['variance']  = round(variance, 2)
    df.loc['range']     = round(range, 2)
    df.loc['skewness']  = round(skewness, 2)
    df.loc['kurtosis']  = round(kurtosis, 2)

    return df

##to read excel file and convert to dataframe   
df = pd.read_excel('stock_data.xlsx')

# Analyze the data
result_df = stock_anasysis_table(df)

# Print the result filtered down to display last 8 rows
result_df.tail(8)

            Open    High     Low   Close  Adj Close             Volume
mean     1560.77 1573.48 1548.92 1561.38    1549.23        20946422.73
median   1546.95 1555.30 1530.88 1540.40    1527.69        17023042.00
mode     1652.00 1464.00 1384.35 1494.70    1474.56         6523110.00
SD         97.77   96.96   96.59   97.00     102.08        17367801.92
variance 9559.73 9401.61 9328.84 9409.56   10420.02 301640543641851.25
range     415.00  402.50  404.50  399.40     418.05       216147940.00
skewness    0.13    0.17    0.15    0.16       0.16               7.18
kurtosis   -1.02   -1.04   -1.06   -1.07      -1.10              75.45